-r requirements.txt
-e git+https://github.com/coagulant/django-devserver.git#egg=django_devserver
werkzeug
# Does not seem to work anymore?
#line_profiler
django-debug-toolbar
pytest-django
pytest-cov
pip-tools
