Django==1.9.13
djangorestframework<3.2.3
Markdown
django-filter<0.12
django-grappelli
django-nested-admin
django-leaflet
psycopg2
raven
django-extensions
django-cors-headers
-e git+https://github.com/City-of-Helsinki/munigeo#egg=django-munigeo-master
django-debug-toolbar
