Django<2
djangorestframework
Markdown
django-filter
django-grappelli
django-nested-admin
django-leaflet
psycopg2
raven
django-extensions
django-cors-headers
-e git+https://github.com/City-of-Helsinki/munigeo@v0.2.1#egg=django-munigeo
django-debug-toolbar
