Django<1.8
djangorestframework
Markdown
django-filter
django-admin-bootstrapped==2.4.0
psycopg2
raven
django-extensions
django-cors-headers
-e git+https://github.com/City-of-Helsinki/munigeo@0d5b38958615743674e713260497835ecab662ce#egg=django-munigeo-master
django-debug-toolbar
